<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <connectionStrings>
    <add name="decodedon" connectionString="Data Source=(local)\SQLExpress;Initial Catalog=decodedon;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="aspnetdb" connectionString="Data Source=(local)\SQLExpress;Initial Catalog=aspnetdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--.NET46だけ-->
    <!--<add key="Federates" value="{'Test':'http://localhost/decodedon/api/federate.svc/toots'}"/>-->
  </appSettings>

  <location path="api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>

    <authentication mode="Forms">
      <forms loginUrl="login.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey validationKey="552FAB14B179CD43E1D7CF4D6746D3B4F7B47F69B9849AF5BACA4A28B6880F1D4944FFDDD9A405DED747B86FC340CBCBE99DD01466741F56CFFD964C49FA3C6A" decryptionKey="A1838636FFAE1C86B2FB02A6377F473E06413B81D4AC4B0316133DDA5ABA0219" validation="SHA1" decryption="AES" />
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear/>
        <add name="DefaultMembershipProvider"
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            connectionStringName="aspnetdb"
            requiresQuestionAndAnswer="false"
            passwordFormat="Hashed"
            passwordStrengthRegularExpression=""
            applicationName="/decodedon"/>
      </providers>
    </membership>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>